* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
#root {
  width: 100%;
  min-height: 100%;
  background-color: #f7f7f7;
}
li {
  list-style-type: none;
}
